body {
    overflow-x: hidden;
}

.menu {
    z-index: 9999 !important;
}

// Blog Btn
.blogBtn {
    text-align: right;

    &-link {
        font-weight: 500;
        transition: 0.4s background-color;
        padding: 15px 20px;

        &:focus,
        &:hover {
            background: #29166f2f;
            transition: 0.4s background-color;
        }
    }


}

// ABout Us
.aboutUs {

    &-link {
        font-weight: 500;
        padding: 15px 20px;
        transition: 0.2s background-color;

        &:focus {
            transition: 0.2s background-color;
            background: #29166f48;
        }
    }

}

.aboutBtn {
    text-align: left;

    &-link {
        font-weight: 400;
        padding: 0px !important;
        transition: 0.2s background-color;

    }
}

// For THe Slider Gallery
.slick {
    &-arrow {
        background: #2A166F;
        z-index: 1000;
        padding: 18px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            font-family: inherit !important;
        }

        &:hover,
        &:focus {
            background: #2A166F;
        }
    }

    // Left Arrow
    &-prev {
        left: 5px;
    }

    &-next {
        right: 5px;
    }
}

.gallery {
    max-width: 100% !important;
}

// For The ScrollToTopPad



// Mobile
@import './mobile';


.item-img{
    img{
        object-fit: contain;
        width: 100%;
        height: auto;
    }
}

// blog content
.item-content{
    background: #fff;
} 
// Slick Gallery
.cid-spMCq35WEP{
    padding-bottom: 3rem;
}