body {
    overflow-x: hidden;
}

.menu {
    z-index: 9999 !important;
}

// Blog Btn
.blogBtn {
    text-align: right;

    &-link {
        font-weight: 500;
        transition: 0.4s background-color;
        padding: 15px 20px;

        &:focus,
        &:hover {
            background: #29166f2f;
            transition: 0.4s background-color;
        }
    }


}

// ABout Us
.aboutUs {

    &-link {
        font-weight: 500;
        padding: 15px 20px;
        transition: 0.2s background-color;

        &:focus {
            transition: 0.2s background-color;
            background: #29166f48;
        }
    }

}

.aboutBtn {
    text-align: left;

    &-link {
        font-weight: 400;
        padding: 0px !important;
        transition: 0.2s background-color;

    }
}

// For THe Slider Gallery
.slick {
    &-arrow {
        background: #2A166F;
        z-index: 1000;
        padding: 18px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            font-family: inherit !important;
        }

        &:hover,
        &:focus {
            background: #2A166F;
        }
    }

    // Left Arrow
    &-prev {
        left: 5px;
    }

    &-next {
        right: 5px;
    }
}

.gallery {
    max-width: 100% !important;
}

// For The ScrollToTopPad



// Mobile
@import './mobile';


.item-img {
    img {
        object-fit:cover;
        width: 100%;
        height: 300px;
    }
}

// blog content
.item-content {
    background: #fff;
}

// Slick Gallery
.cid-spMCq35WEP {
    padding-bottom: 3rem;
}

// Preloader Css
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader-icon {
    position: relative;
    max-width: 100%;
    width: 50%;
    object-fit: contain;
    height: auto;
    animation: shake 1.5s infinite;
}


@keyframes shake {
    0% {
        transform: translate(1px, -1px) rotate(0deg);
    }

    10% {
        transform: translate(1px, -3px) rotate(-1deg);
    }

    20% {
        transform: translate(1px, -5px) rotate(-3deg);
    }

    30% {
        transform: translate(1px, -7px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -9px) rotate(1deg);
    }

    50% {
        transform: translate(1px, -11px) rotate(3deg);
    }

    60% {
        transform: translate(1px, -9px) rotate(0deg);
    }

    70% {
        transform: translate(1px, -7px) rotate(-1deg);
    }

    80% {
        transform: translate(1px, -5px) rotate(-3deg);
    }

    90% {
        transform: translate(1px, -3px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -1px) rotate(-1deg);
    }
}